body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("C:/Users/pedro/FIFO_GE/FIFO-GLASS-EFFECT/foto-legal.jpeg");
    background-size: cover;
    
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    align-items: center; /* centraliza o conteúdo verticalmente */
    margin: 0;
}


fieldset {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-color: rgb(129, 0, 119);

    max-width: 400px;
    /* largura máxima do fieldset */
    padding: 20px;
    border: 1px solid #ccc;

}

legend {
    color: rgb(2, 69, 255);
}

inputNome, label {
    text-align: left;
    display: block;
    margin: 0 auto;

}

li {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.57);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-color: rgb(129, 0, 119);
    display: inline-block;
    max-width: 100px;       /*os itens agora são exibidos em linha, horizontalmente*/

    margin-right: 15px;    /* adiciona espaço entre os elementos */

    color: rgb(250, 250, 250);

}